<div class="row">
    <div class="col-lg-6">
        <div id="map" class="">
            <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <p><span>Address:</span><mat-icon>location</mat-icon> Burlington, MA 01803</p>
          </div>
          <div class="row">
            <p><span>Email:</span> <a href="mailto:patelvrushang13@gmail.com">patelvrushang13@gmail.com</a></p>
          </div>
          <div class="row">
            <p><span>Website</span> <a href="https://vp-13.github.io/vrushang-patel/#/">https://vp-13.github.io/vrushang-patel</a></p>
          </div>
    </div>
</div>
