<div class="row text-center">
  <div class="col-md-4">
    <a href="mailto:patelvrushang13@gmail.com">
    <div class="card">
      <div class="card-body">
        <img src="./assets/img/email_icon.ico"><br>
       <p class="description"> patelvrushang13@gmail.com</p>
      </div>
    </div>
  </a>      
  </div>
  <div class="col-md-4">
    <a href="https://goo.gl/maps/h6rtiBwi6AKFHUrM9">
      <div class="card ">
        <div class="card-body">
          <img src="./assets/img/location.ico"><br>
          <p class="description"> Burlington, MA 01803</p>
        </div>  
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="https://vp-13.github.io/vrushang-patel/#/">
      <div class="card"> 
        <div class="card-body">
          <img src="./assets/img/website.ico"><br>
          <p class="description"> https://vp-13.github.io/vrushang-patel</p>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-4">
    <a href="https://www.linkedin.com/in/vrushang-patel-88494b122/">
      <div class="card">
        <div class="card-body">
          <img src="./assets/img/linkedin.ico"><br>
          <p class="description">www.linkedin.com/in/vrushang-patel-88494b122/</p>
      </div>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="https://twitter.com/vp_1312">
    <div class="card">
      <div class="card-body">
        <img src="./assets/img/twitter.png"><br>
       <p class="description"> https://twitter.com/vp_1312</p>
      </div>
    </div>
  </a>      
  </div>
  <div class="col-md-4">
    <a href="https://github.com/v1312">
      <div class="card ">
        <div class="card-body">
          <img src="./assets/img/github.png"><br>
          <p class="description"> https://github.com/v1312</p>
        </div>  
      </div>
    </a>
  </div>
</div>

