<div class="row">
    <div class="col-lg-6">
        <div id="map" class="">
            
        </div>
    </div>
    <div class="col-lg-6" style="font-size: large;">
      <table>
        <tr>
          <td>
            <mat-icon>place</mat-icon>
          </td>
          <td>
            Burlington, MA 01803
          </td>
        </tr>
        <tr>
          <td style="padding-top:20px"> 
            <mat-icon>email</mat-icon>
          </td>
          <td style="padding-top:20px">
            <a href="mailto:patelvrushang13@gmail.com">patelvrushang13@gmail.com</a>
          </td>
        </tr>
        <tr>
          <td style="padding-top:20px">
            <mat-icon>public</mat-icon>
          </td>
          <td style="padding-top:20px">
            <a href="https://vp-13.github.io/vrushang-patel/#/">https://vp-13.github.io/vrushang-patel</a>
          </td>
        </tr>
      </table>
    </div>
</div>
