<div class="row">
    <div class="col-lg-6">
        <img src="./assets/img/skill.jpg" alt="skills" style="width: 100%;padding-top: 50px;">   
    </div>
    <div class="card col-lg-6">
        <div class="card-body">
               <h2 class="title">Web Technologies/Programming Languages</h2>
               <p class="description">Angular, Angular Material, HTML, CSS, Bootstrap, JavaScript, TypeScript, ExpressJS, NodeJS, JAVA,RESTful API </p>
               <h2 class="title">Database</h2>
               <p class="description"> MySQL, MongoDB </p>
               <h2 class="title">Project Management/Version Control/API Testing Tool</h2>
               <p class="description"> Git, GitHub, Postman </p>
        </div>
    <div>
</div>
