<div class="row">
    <div class="col-lg-6" id="left">
        <img src="./assets/img/donation-project.png" alt="OMS Project" class="image">
    <div class="overlay-left">
      <div class="text"><h1>NGO Donation</h1><br>
        <p class="description">MEAN Full Stack Web Application </p>
      </div>
      
    </div>
    </div>
    <div class="col-lg-6" id="right">
      <img src="./assets/img/oms.jpg" alt="OMS Project" class="image">
      <div class="overlay-right">
        <div class="text"><h1>Online Medicare System</h1><br>
          <p class="description">Web Application</p>
        </div>
      </div>
    </div>
</div>