<div class="row">
    <div class="card col-md-12">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-8">
                    <h2><mat-icon>work</mat-icon> Jr.QA Analyst<h3>Amar Infotech</h3> </h2>
                </div>
                <div class="col-lg-4">
                    <p style="float: right;">May, 2019 - Oct, 2019</p>
                </div>
            </div>
            <div><br>
                <ul>
                    <li>Created test scripts and read functional requirement documents.</li>
                    <li>Performed cross browser testing to verify functionality of web applications.</li>
                    <li>Reviewed requirements and specifications to understand software design standards.</li> 
                    <li>Preparation of test plans and involved in developing the functionality as per use case documents for various modules of the application</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card col-md-12">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-8">
                    <h2><mat-icon>work</mat-icon> Web Developer<h3> Edutech Infotech</h3></h2> 
                    
                </div>
                <div class="col-lg-4">
                    <p style="float: right;">June, 2018 - April, 2019 </p>
                </div>
            </div>
            <div><br>
                <ul>
                    <li>Contribute to design and development of client and server database applications.</li>
                    <li>Worked cross the software development life cycle to gather requirements and build and maintain the code. </li>
                    <li>Reviews designs and features as presented by the team.</li> 
                    <li>Develops content and style guidelines.</li>
                    <li>Develop project concepts and maintain optimal workflow.</li>
                </ul>
            </div>
        </div>
    </div>

</div>
