<h2 class="description">I'm a Full Stack MEAN Developer. I am expert in developing web application using various front-end and backend with database technologies including Angular, TypeScript, BootStrap, HTML, CSS, NodeJS, ExpressJs, JAVA, MongoDB, MySQL etc. Building  easy to use, 
    user-friendly web applications is a truely passion of me and I
    confident towards my excellence on technical stacks. 
    I actively seek out new technologies and stay up-
    to-date on industry trends and advancements. </h2>
    