<div class="wrapper" id="home">
    <div class="page-header section-dark" style="background-image: url('assets/img/header.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h2>HI, I AM</h2>
                    <p class="title" style="font-size: 59px;"><b style="font-weight: bold;">VRUSHANG PATEL</b></p>
                <h2 class="presentation-subtitle text-center" >Full Stack Developer</h2>
            </div>
        </div>
        
    </div>
   </div>


   <!-- About -->
<div class="main">
    <div class="section " id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto text-center">
                    <h1 class="title"  style="font-size:60px; padding-top: 120px;">About Me</h1><br>
                    <app-about></app-about>
                    <br>
                </div>
            </div>
            <br/><br/>
        </div>
    </div>
</div>

    <div class="section section-dark text-center" id="resume" style="margin-top: 50px;" >
        <div class="container">
            <div class="row" style="padding-bottom: 50px;padding-top: 50px;" >
                <div class="col-md-4">
                    <a href="#education" >
                        <div >
                            <button type="button" class="btn btn-resume">Education</button>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#experience">
                        <div >
                            <button type="button" class="btn btn-resume">Experience</button>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#skills">
                        <div >
                            <button type="button" class="btn btn-resume" >   Skills</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
        <div class="section" id="education">
            <div class="container">            
                <div>
                    <div class="title" style="font-size:40px"  ><b>Education </b></div>
                    <app-education></app-education>
            </div>
        </div>
        <div class="section" id="experience">
            <div class="container">            
                <div>
                    <div class="title"  style="font-size:40px"><b>Experience</b></div>
                        <app-experience></app-experience>
                    </div>
            </div>
        </div>    
        <div class="section " id="skills">
            <div class="container">            
                <div>
                    <div class="title"  style="font-size:40px"><b>Skills</b></div>
                    <app-skills></app-skills>   
            </div>
        </div>
        

<!-- Project -->

<div class="section section-dark text-center" id="project" style="padding-top: 100px;">
    <div class="container">
        <p class="title"  style="font-size:40px;font-weight: bold;"><b>Project</b></p><br><br><br>
        <app-project></app-project>
        </div>
</div>

<!-- Contact -->

<div class="section " id="contact" style="padding-top: 100px;">
    <div class="container">
        <p class="title text-center"  style="font-size:40px;font-weight: bold;"><b>Contact</b></p><br><br><br>
        <app-contact></app-contact>
        </div>
</div>