<div class="wrapper" id="home">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h2>HI, I AM</h2>
                    <p class="title" style="font-size: 59px;"><b style="font-weight: bold;">VRUSHANG PATEL</b></p>
                <h2 class="presentation-subtitle text-center" >Full Stack Developer</h2>
            </div>
        </div>
        
    </div>
   </div>


   <!-- About -->
<div class="main">
    <div class="section ">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto text-center">
                    <h1 class="title" id="about" style="font-size:60px; padding-top: 120px;">About Me</h1><br>
                    <app-about></app-about>
                    <br>
                </div>
            </div>
            <br/><br/>
            
            
        </div>
    </div>
    <div class="section section-dark text-center" id="resume" style="margin-top: 90px;">
        <div class="container">
            <div class="row" style="padding-bottom: 50px;padding-top: 50px;" >
                <div class="col-md-3">
                    <a href="#education" >
                        <div >
                            <button type="button" class="btn btn-resume">Education</button>
                        </div>
                    </a>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <a href="#experience">
                        <div >
                            <button type="button" class="btn btn-resume">Experience</button>
                        </div>
                    </a>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <a href="#skills">
                        <div >
                            <button type="button" class="btn btn-resume" >   Skills</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="section ">
            <div class="container">            
                <div id="education">
                    <div class="title" style="padding-top: 90px;"  ><h1><b>Education </b></h1></div>
                    <app-education></app-education>
                    <div class="title" id="experience" style="padding-top: 80px;"><h1><b>Experience</b></h1></div>
                    <app-experience></app-experience>
                    <div class="title" id="skills" style="padding-top: 80px;"><h1><b>Skills</b></h1></div>
                    <app-skills></app-skills>
                </div>            
    
            </div>
        </div>
    

<!-- Project -->

<div class="section section-dark text-center">
    <div class="container">
        <h1 class="title" id="project"><b>Project</b></h1>
        </div>
</div>